<%= form_for @movie, :html => {:role => "form"} do |f| %>
  <div class="form-group">
  <%= f.label :name %>:
  <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :attributed_to %>:
  <%= f.text_field :attributed_to, :class => "form-control" %>
  </div>

  <div class="form-group">
  <%= f.label :description %>:
  <%= f.text_area :description, :class => "form-control" %>
  </div>

  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>
