<h1><%= @movie.name %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<div class=description>
  <%= @movie.description %>
</div>
<div class="row">
  <div class="col-xs-2">
  Ranking: <%= @movie.rank %>
  </div>
  <div class="col-xs-10">
  <%= render "/shared/upvote_button", movie: @movie %>
  </div>
</div>
<div class="btn-group">
  <%= link_to "Delete", [:destroy, @movie], :class => "btn btn-default" %>
  <%= button_to "Delete", [:destroy, @movie], :class => "btn btn-default" %>
</div>
<div class="other-buttons">
<%= link_to "Edit #{@movie.name}", [:edit, @movie], :class => "btn btn-default" %>
<span class="view-all-movies"><%= link_to "View All Movies", movies_path %></span>
<span class="view-everything"><%= link_to "View Everything", root_path %></span>
</div>
