<h1><%= @movie.name %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<div class=description>
  <%= @movie.description %>
</div>
<%= render "/shared/upvote_button", movie: @movie %>
<div class="other-buttons">
<span class="edit-button"><%= link_to "Edit #{@movie.name}", [:edit, @movie] %></span>
<%= button_to "Delete", [:destroy, @movie], :class => "btn btn-danger" %>
<span class="view-all-movies"><%= link_to "View All Movies", movies_path %></span>
<span class="view-everything"><%= link_to "View Everything", root_path %></span>
</div>
