<h1><%= @music.name %></h1>
<h2>Artist: <%= @music.attributed_to %></h2>
<div class=description>
  <%= @music.description %>
</div>
<div class="row">
  <div class="col-xs-2">
  Votes: <%= @music.votes %>
  </div>
  <div class="col-xs-10">

  </div>
</div>
<div class="btn-group">
  <%= link_to upvote_music_path(@music), {:method => "POST", :class => "btn btn-default btn-md"} do %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end %>
  <%= link_to "Delete", music_path(@music), {:method => "DELETE", :class => "btn btn-default"} %>
  <%= link_to "Edit #{@music.name}", edit_music_path(@music), :class => "btn btn-default" %>
</div>
<div class="other-buttons">

<span class="view-all"><%= link_to "View All Musics", musics_path %></span>
<span class="view-everything"><%= link_to "View Everything", root_path %></span>
</div>
